<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content" id="main_content">        
        <span class="card-title"><em>About the Cafe23 Management System</em></span>
        <p>Hello! Thanks to the Pittsburgh Animal Treatment Services, we have a nice website!
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>