<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content" id="main_content">
        <span class="card-title"><em>Contacting Cafe23</em></span>
        <p>Unfortunately, Cafe23 is not a real veterinarian website, but rather a 
            sample project for programming students at Carnegie Mellon University. We 
            are sure that you wanted coffee from the most exquisite 
            veterinarians on the planet, but that's how it goes sometimes.  If you are 
            bitterly disappointed <em>(and quite honestly, you should be)</em> and want to 
            grouse to someone, here's the contact information below.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Jonathan Ho</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("jonathanho@cmu.edu", "67-272 Head TA", encode: "javascript") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-268-8211</td>
          </tr>
        </table>
        <p >*I am a student of information systems at Carnegie Mellon 
          University and this nickname was a little running joke between myself and my 
          staff that I adopted as my signature for my programming work.&nbsp;&nbsp;&nbsp; 
          <em>... in truth I am not a TA.</em></p>
      </div>
    </div>
  </div>
</div>